<!DOCTYPE html>
<!-- 
Template Name: Trade Coin - Digital Exchange HTML Template 
Version: 1.0.0
Author: Kamleshyadav
Website: 
Purchase: 
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <meta name="description" content="">
    <meta name="keywords" content="	advisor, analytical, audit, broker, brokerage, business, company, consulting, currency, exchange, finance, financial, insurance, modern, trader">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="assets/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="icon" type="image/png" href="assets/images/fav.png"/>
</head>
<body>
<div class="me-main-wraper">
    <!-- top header -->
    <div class="me-top-header">
        <div class="container">
            <div class="me-top-head">
                <div class="me-top-header-left">
                    <ul>
                        <li>Follow Us :</li>
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="me-top-header-right">
                    <ul>
                        <li><i class="far fa-envelope-open"></i> hndai.17ck1@gmail.com</li>
                        <li><i class="fas fa-mobile-alt"></i>0522621678</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- main header -->
    <div class="me-main-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-7">
                    <div class="me-logo">
                        <a href="/customer"><img src="assets/images/logo.svg" alt="logo" class="img-fluid"/></a>
                    </div>
                </div>
                <div class="col-sm-9 col-5">
                    <div class="me-menu">
                        <ul>
                            <li><a href="/customer">dfgvdfg</a></li>
                            <li><a href="/notification">Notification</a></li>
                            <li><a href="/customer">Personal Page</a></li>
                        </ul>
                        <div class="me-toggle-nav">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="/logout" >Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My Account -->
    <div class="me-transaction me-padder-top-less me-padder-bottom">
        <div class="container">
            <div class="me-heading2">
                <h4>${bank_acc.Name}</h4>
                <h1>Customer information</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="me-transaction-box">
                        <div class="table table-responsive">
                            <div class="me-banner-form-bg">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <li><h3>Mở tài khoản tiết kiệm</h3></li>
                                            <li>Số dư khả dụng: 100000000 VND</li>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <li><b>Bạn muốn gửi bao nhiêu?</b></li>
                                            <li><input type="number" placeholder="Tiền tối thiểu để mở tiết kiệm là 1000000 VND" id="money" name="money" style="width: 400px;" form="month_from" required></li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p><b>Bạn muốn kỳ hạn bao nhiêu tháng?</b></p>
                                            <li>
                                                <form action="/test" id="month_from" method="post">
                                                    <input type="submit" class="me-btn" id="month" name="month" value="1" style="width: 15px; color: red;">
                                                    <input type="submit" class="me-btn" id="month" name="month" value="3" style="width: 15px;">
                                                    <input type="submit" class="me-btn" id="month" name="month" value="6" style="width: 15px;">
                                                    <input type="submit" class="me-btn" id="month" name="month" value="12" style="width: 15px;">
                                                    <input type="submit" class="me-btn" id="month" name="month" value="18" style="width: 15px;">
                                                </form>
                                            </li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="me-my-profile-body">
                                                <ul>
                                                    <li>
                                                        <div class="me-profile-data"><p>6%</p></div>
                                                        <div class="me-profile-data"><p>90246</p></div>
                                                    </li>
                                                    <li>
                                                        <div class="me-profile-data"><p>Lãi suất năm</p></div>
                                                        <div class="me-profile-data"><p>Tổng tiền lãi</p></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="me-my-profile-body">
                                                <ul>
                                                    <li>
                                                        <div class="me-profile-data"><p>27/07/2020</p></div>
                                                        <div class="me-profile-data"><p>27/01/2022</p></div>
                                                    </li>
                                                    <li>
                                                        <div class="me-profile-data"><p>Ngày mở tài khoản</p></div>
                                                        <div class="me-profile-data"><p>Ngày đến hẹn</p></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </th>
                                    <tr>
                                        <td>
                                            <p><b>2000000</b></p>
                                            <p><b>Số dư tại ngày đến hạn</b></p>
                                        </td>
                                    </tr>     
                                    <tr>
                                        <td>
                                            <button class="me-btn">OK</button>
                                        </td>
                                    </tr>                             
                                </tbody>
                            </form>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<div class="me-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <div class="me-logo">
                        <a href="/customer"><img src="assets/images/logo.svg" alt="logo" class="img-fluid"/></a>
                    </div>
                    <ul>
                        <li class="me-footer-emial">peace.banking.17ck1@gmail.com</li>
                        <li>+11-789-6542-852</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="javascript:;">Duis aute irure</a></li>
                        <li><a href="javascript:;">voluptate velit</a></li>
                        <li><a href="javascript:;">cupidatat non</a></li>
                        <li><a href="javascript:;">Excepteur</a></li>
                        <li><a href="javascript:;">sunt in culpa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>About us</h4>
                    <ul>
                        <li><a href="javascript:;">aute irure</a></li>
                        <li><a href="javascript:;">voluptate velit</a></li>
                        <li><a href="javascript:;">cupidatat</a></li>
                        <li><a href="javascript:;">Excepteur</a></li>
                        <li><a href="javascript:;">sunt culpa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="me-footer-block">
                    <h4>Address</h4>
                    <ul>
                        <li>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</li>
                    </ul>
                    <ul class="me-footer-share">
                        <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Footer -->
<div class="me-footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="me-copyright-block">
                    <p>&copy; 2020 copyright all right reserved by <a href="javascript:;">trade coin</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Rate -->
<div id="me-rate">
    <p>
        <span>EUR/USD -0.54559%</span>
        <span>USD/JPY -0.12283%</span>
        <span>GBP/USD -0.44243%</span>
        <span>USD/CHF +0.15403%</span>
        <span>USD/CAD +0.03873%</span>
        <span>EUR/JPY -0.66775%</span>
        <span>AUD/USD -0.59356%</span>
        <span>CNY/USD +0.10728%</span>
        <span>EUR/USD -0.54559%</span>
        <span>USD/JPY -0.12283%</span>
        <span>GBP/USD -0.44243%</span>
        <span>USD/CHF +0.15403%</span>
        <span>USD/CAD +0.03873%</span>
        <span>EUR/JPY -0.66775%</span>
    </p>
</div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/SmoothScroll.min.js"></script>
<script src="assets/js/ui_range_slider.js"></script>
<script src="assets/js/canvasjs.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>